@if (Registration!.Count > 0)
{
	<div class="m-2 text-center pb-4">
		<h3>Totalscore</h3>
		<h3> <Badge Color="BadgeColor.Success">@TotalScore</Badge></h3>
	</div>

	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Terrain</th>
				<th scope="col">No of tiles</th>
				<th scope="col">No of crowns</th>
				<th scope="col">Score</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in Registration)
			{
				<KingDominoScoreDetail GameScore="game" />
			}
		</tbody>
	</table>
}
else
{
	<div class="m-2 pt-4">
		<Alert Color="AlertColor.Info">
			<Icon Name="IconName.InfoCircleFill" Color="IconColor.Info" Class="me-2" />No scores yet
		</Alert>
	</div>
}

@code {
	[Parameter]
	public List<KingDominoScoreEntry>? Registration { get; set; }
	[Parameter]
	public int TotalScore { get; set; }
}