<tr>
	<th scope="row"></th>
	<td>@GameScore!.Terrain</td>
	<td>@GameScore.Tiles</td>
	<td>@GameScore.Crowns</td>
	<td>@GameScore.TileScore</td>
</tr>
@code {
	[Parameter]
	public KingDominoScoreEntry? GameScore { get; set; }
}