@using BoardGameScorer.WebUI.Server.Components.Kingdomino
@page "/queendominosss/{id:int}"
@layout KingdominoLayout
@inherits PlayerEntry
@inject GamesService gameService
<CardBody>
	<CardHeader>@Player!.Name</CardHeader>
	<CardText>@Player!.Id</CardText>
	<CardText>@Player!.Score</CardText>
	<CardFooter>
		<Button Color="ButtonColor.Info" Outline="true" Size="Size.Small">Let's get some score'</Button>
	</CardFooter>
</CardBody>

@code {
    [Parameter] public KingdominoPlayer? Player { get; set; }
}

