@page "/"
@inherits GameListBase
<PageTitle>Games</PageTitle>
<h3>Calculate your score</h3>
@if (Games is null)
{
	<Spinner Color="SpinnerColor.Info">Loading...</Spinner>
}
else
{
	<Card>
		@foreach (var game in Games)
		{
			<CardBody>
				<CardHeader>@game.Name</CardHeader>
				<CardText>@game.Description</CardText>
				<CardFooter>

					<Button Color="ButtonColor.Info" To="#" Type="ButtonType.Link" Outline="true" Size="Size.Small">Calculate score</Button>
					<Button Color="ButtonColor.Info" To="#" Type="ButtonType.Link" Outline="true" Size="Size.Small">View</Button>
					<Button Color="ButtonColor.Info" To="#" Type="ButtonType.Link" Outline="true" Size="Size.Small" n>Edit</Button>
					<Button Color="ButtonColor.Info" To="#" Type="ButtonType.Link" Outline="true" Size="Size.Small">Delete</Button>
				</CardFooter>
			</CardBody>
		}
	</Card>
}


