@page "/StatusCode/{responseCode}"
@inject NavigationManager NavigationManager
<PageTitle>StatusCode @ResponseCode</PageTitle>
<div class="m-2">

<Alert Color="AlertColor.Danger"><Icon Name="IconName.Bug" Size="IconSize.x1" Color="IconColor.Danger" Class="me-2"/>@ResponseCode - Something went wrong.</Alert>
<Button To="/" Type="ButtonType.Link" Color="ButtonColor.Info">Back</Button>
</div>

@code {
	[Parameter] public string? ResponseCode { get; set; }
}
