@page "/"
<PageTitle>Game list</PageTitle>
<h3>GameList</h3>
<Card>
	<CardBody>
		<CardHeader>Header</CardHeader>
		<CardText>Text</CardText>
		<CardFooter>
			<Button>View</Button>
			<Button>Edit</Button>
			<Button>Delete</Button>
		</CardFooter>
	</CardBody>
</Card>

@code {

}
